<p>ようこそ、ながのCAKEへ</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
<h2>新着情報</h2>
<% @items.each do |item| %>
<%= image_tag item.get_image %>
<%= item.name %>
<%= item.price %>
<% end %>